html,body {
    font-family: '微软雅黑';
    font-size: 14px;
}
.item-demo {
    h1 {
        font-size: 28px;
        margin-bottom: 20px;
    }
    h2 {
        font-size: 20px;
        margin: 20px 0;
    }
    .select-btn {
        width: 600px;

        & > input  {
            display: inline-block;
            margin-left: 40px;
        }
    }
}
