@charset "utf-8";

@import "./config/config";

// Import
@import "../lib/core/reset";

// 适配font-size
@media screen and (min-width: 280px) {html{font-size:87.5px;}}
@media screen and (min-width: 320px) {html{font-size:100px;}}
@media screen and (min-width: 375px) {html{font-size:117.18px;}}
@media screen and (min-width: 414px) {html{font-size:129.375px;}}
@media screen and (min-width: 440px) {html{font-size:137.5px;}}
@media screen and (min-width: 480px) {html{font-size:150px;}}
@media screen and (min-width: 520px) {html{font-size:162.5px;}}
@media screen and (min-width: 540px) {html{font-size:168.75px;}}

// 文字截字
@mixin ell {
    display: inline-block;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
