/**
 * 变量定义
 * @auhtor dujuan.cao
 */

// 颜色值
// --------------------------------------------------

$colorPrimary: #53ac73;
$colorSuccess: #58bc62;
$colorInfo: #5bc0de;
$colorWarning: #f0ad4e;
$colorDanger: #ff0000;
$colorGray: #999999;
$colorOrange: #FFA500;
$colorYellow: #FFFF00;
$colorGreen: #4fad71;
$colorMain: #333333;
$colorYellow: #ffa800;

// 文字颜色
// --------------------------------------------------

// 蓝色文字
$fontBlue: #2da1ee;

// 边框颜色
// --------------------------------------------------

// 蓝色边框
$borderBlue: #cce5fb;
// 深蓝色边框
$borderDarkBlue: #2da1ee;
